{% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bulma.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'app/navbar.css' %}" />
    {% comment %} <link rel="icon" type="image/jpg" href="img/icon.png" width="100%" /> {% endcomment %}
    <script src="{% static 'htmx.js' %}"></script>
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>