form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: fit-content;
    height: fit-content;
    padding: 2vw;
    border: solid 0.01vw #999999;
}

input.button[type="submit"] {
    width: 49%;
    background-color: #00BB00;
    color: #DDDDDD;
}

input.button[type="reset"] {
    width: 49%;
    background-color: #DD0000;
    color: #DDDDDD;
}

input.button.is-dark {
    width: fit-content;
    background-color: #212121; 
}

input.input.is-rounded {
    width: fit-content;
}